

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

html, body{
    margin: 0px;
    justify-content: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary_color : #9d174d;
    --width-break: 700px
}

#heading_cash_register{
    color: #9d174d;
    text-align: center;
    font-family: 'Lemonada', cursive;
}

#container{
    margin: auto;
    max-width: var(--width-break);
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.main{
       margin: auto;
       padding: 2rem;
}



.table-notes{
    border: 1px solid var(--primary_color);
    border-collapse: collapse;
    width: 700px;
    text-align: justify;
    margin: 0.5rem auto;
   
   
}

th,td{
    border: 2px solid var(--primary_color);
    padding: 0.5rem;
    width: 0%;
    margin-top: 1rem;
    font-weight: bolder;
}

.inp-text{
    width: 50%;
    padding: 1rem;
    max-height: 1vh;
    border : 1.5px solid var(--primary_color);
    border-radius: 0.5rem;
    display: block;
    outline: #fff;
}

.click-btn{
    background-color: var(--primary_color);
    border: none;
    font-size: large;
    width: 4cm;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 3px black;
    color: antiquewhite;
    cursor: pointer;

}

.click-btn:hover{
    font-weight: bolder;
}

#lbl-bill-amt{
    display: block;
}

.lbl-for-inputs{
    font-weight: bold;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: large;
  
}

table>caption{
    font-size: 23px;
    font-weight: bolder;
    text-align: left;
    margin: 1rem auto;
}

.description{
    font-weight: bold;
    text-align: justify;
}

#footer{
    display: block;
    height: auto;
    text-align: center;
    /*color: var(--primary-color);*/
    padding-top: 0.5rem;
   
}

#footer h3{
    font-size: large;
    text-align: center;
    text-transform: capitalize;
    
}

a,img,li{
    display: inline;
}

img{
    width: 40px;
    padding: 1rem 0.2rem;
}